:root {
    --ff-kumbh: 'Kumbh Sans', sans-serif;

    --fw400: 400;
    --fw700: 700;

    --clr-primary-dark-cyan: hsl(185, 75%, 39%);
    --clr-primary-dark-blue: hsl(229, 23%, 23%);
    --clr-primary-grayish-blue: hsl(227, 10%, 46%);

    --clr-neutral-gray: hsl(0, 0%, 59%);
}

/* reset */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin-block: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
}

body {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;

    background-color: var(--clr-primary-dark-cyan);
    font-family: var(--ff-kumbh);
    font-size: 18px; /* Name and Stats */
    font-weight: 400;
    line-height: 1.6;
    z-index: 0;

}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-position: -250px -400px;
    z-index: 1;
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: 750px 300px;
    z-index: 1;
}

/* Main Styling */

.container {
    width: 80%;
    max-width: 350px;
    background-color: white;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    box-shadow: 5px 5px 40px -10px var(--clr-primary-dark-blue)
}

.profile-photo {
    position: absolute;
    width: 30%;
    border-radius: 50%;
    outline: 5px solid white;
    transform: translateY(85%);
}

.personal-data {
    margin-top: 5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.city {
    font-size: .9rem;
    font-weight: 400;
    color: var(--clr-neutral-gray);
    margin-top: .3rem;
    margin-bottom: 1.8rem;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-around;

    padding: 2rem;
    border-top: 1px solid hsla(0, 0%, 59%, .2);
}

.stat {
    text-align: center;
    width: 30%;
}

.stat-name {
    color: var(--clr-neutral-gray);
    font-size: .8rem;
}





/* Footer */

.attribution {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;

    font-size: .750rem;
    text-align: center;
    color: white;
}

.attribution a {
    color: whitesmoke;
}
